PORT=3002
WEB_ORIGIN=http://localhost:5174
COOKIE_SECURE=false
JWT_ACCESS_SECRET=cambia-esta-clave-access-en-local
JWT_REFRESH_SECRET=cambia-esta-clave-refresh-en-local
DATABASE_URL="file:./prisma/dev.db"
ADMIN_EMAIL=admin@seguro.local
ADMIN_PASSWORD=ChangeMe_Admin1!
